html {
  font-size: 10px;
}
body {
  height: 100vh;
  width: 100%;
}
.btn-orange {
  padding: 1.5rem 6rem;
  background-color: #ff4e2e;
  border: none;
  color: #ffff;
  font-size: 1.8rem;
}
.btn-orange:focus {
  outline: none;
}
.btn-orange:active {
  background-color: #ff3815;
}
.btn-call {
  padding: 1rem 3.5rem;
  background-color: transparent;
  border: 1px solid #f82370;
  color: #f53f4f;
  font-size: 1/6rem;
}
.btn-call:focus {
  outline: none;
}
.btn-call:active {
  background-color: #ff3815;
  color: #ffff;
}
.main {
  background-color: #fbfbfb;
}
.main-header-menu {
  padding: 3rem 0;
}
.main-header-menu a {
  margin: 0 1rem;
  color: #1f1f24;
  font-size: 1.6rem;
}
.main-header-menu a:hover {
  color: #1f1f24;
  text-decoration: none;
}
.main-header-menu a:focus {
  color: #fc557c;
  border-bottom: 1px solid #ff4e2e;
}
.main-header-contacts {
  padding: 2rem 0;
}
.main-header-contacts a {
  margin-right: 2rem;
  color: #1f1f24;
  font-size: 2.5rem;
  font-weight: 700;
}
.main-header-contacts a:hover {
  color: #1f1f24;
  text-decoration: none;
}
.main-content-text {
  margin-top: 15rem;
  margin-bottom: 4.6rem;
}
.main-content-text h1 {
  font-size: 6.5rem;
  font-weight: 700;
}
.main-content-text p {
  font-size: 2.5rem;
  color: #8993ad;
}
.main-content img {
  max-width: 100%;
  height: auto;
  border: 0;
}
.work {
  padding: 10rem 0;
}
.work-header h2 {
  color: #262626;
  font-size: 5.4rem;
  font-weight: 700;
}
.work-content {
  margin: 9rem 0;
}
.work-content-block p {
  font-size: 1.8rem;
  color: #8993ad;
}
.portfolio {
  margin: 10rem 0;
}
.portfolio-header h2 {
  color: #262626;
  font-size: 5.4rem;
  font-weight: 700;
}
.portfolio-content {
  margin: 9rem 0;
}
.portfolio-content-block p {
  font-size: 1.8rem;
  color: #8993ad;
}
.adaptive {
  background-color: #ff4e2e;
  padding: 8rem 0;
}
.adaptive-header h3 {
  color: #ffff;
  font-size: 4.5rem;
  font-weight: 700;
}
.adaptive-header p {
  color: #ffff;
  font-size: 1.8rem;
}
.contacts {
  padding: 5rem 0;
}
.contacts-menu a {
  display: block;
  font-size: 1.6rem;
  color: #8993ad;
}
.contacts-menu a:nth-child(2) {
  margin-top: 1rem;
}
.contacts-menu a:nth-child(3) {
  margin-top: 1rem;
}
.contacts-menu a:hover {
  color: #f82370;
  text-decoration: none;
}
.contacts-link a {
  display: block;
  color: #1f1f24;
  text-decoration: none;
  font-size: 2rem;
}
.contacts-link a:nth-child(2) {
  margin-top: 2.5rem;
}
.contacts-link a:hover {
  color: #1f1f24;
  text-decoration: none;
}
.contacts-ps button {
  display: block;
}
.contacts-ps a:nth-child(3) {
  margin-left: 1.5rem;
}
.contacts-ps a:nth-child(4) {
  margin-left: 1.5rem;
}
.contacts-ps a:nth-child(5) {
  margin-left: 1.5rem;
}
.contacts-ps a img {
  width: 2rem;
  height: 2rem;
  margin-top: 2rem;
}
footer {
  padding: 3.5rem;
  background-color: #31293c;
  color: #ffff;
  font-size: 1.6rem;
}
@media (max-width: 991px) {
  .main-header-menu {
    text-align: center;
  }
  .main-header-contacts {
    text-align: center;
  }
  .main-header-contacts a {
    display: block;
    margin-bottom: 5rem;
  }
  .main-content img {
    margin: 4rem 5rem;
    border: 3px solid #ff4e2e;
  }
  .main-content button {
    margin: 0 20rem;
  }
  .main-content-text {
    text-align: center;
  }
  .work-content-block {
    border: 3px solid #f53f4f;
    padding: 2.5rem;
    margin-top: 2.5rem;
    height: 24rem;
  }
  .portfolio-content-block {
    margin-top: 3rem;
    border: 3px solid #ff4e2e;
  }
  .contacts-menu {
    text-align: center;
  }
  .contacts-menu a {
    display: inline-block;
    margin: 0 3rem;
  }
  .contacts-link {
    margin: 3rem 0;
    text-align: center;
  }
  .contacts-ps {
    margin: 3rem 0;
    text-align: center;
  }
  .contacts-ps button {
    margin: auto;
  }
}
